<template>
  <div class="row">
    <sliding-pagination
        v-if="totalPages>1"
        class="pag col s12"
        :current="currentPage"
        :total="totalPages"
        :slidingEndingSize="page_size<500? 1 : 2"
        :slidingWindowSize="page_size<500? 1 : 3"
        @page-change="pageChangeHandler"
    ></sliding-pagination>
  </div>
</template>

<script src="./pagination.js"></script>

<style lang="css">
  .pag{
    background: #536b7f;
    text-align: -webkit-center;
    text-align: -moz-center;
  }
</style>