<template>
  <aside>
    <Load v-if="padPokemons.length <= 0"/>
    <div class="row">
      <div class="col s12 m6 l4 xl3 card-pokemon" v-for="pokemon in padPokemons"
      v-bind:key="pokemon.id" v-on:click="detail(pokemon)">
        <div class="card">
          <img v-bind:src="pokemon.img" v-bind:id="'pk_'+pokemon.id" v-on:error="changeIMG(pokemon.id)" alt="" class="icon">
          <div class="box">
            <span class="id">#{{pokemon.id}}</span>
            <span class="title" v-bind:title="pokemon.name">{{pokemon.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </aside>
</template>

<script src="./list.js"></script>
<style src="./list.css"></style>
