@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Heebo:wght@200&display=swap');
.card-pokemon>.card {
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  background-color: #536b7f;
}

.card-pokemon>.card::after {
  content: 'keyboard_arrow_right';
  align-self: center;
  right: 15px;
  position: absolute;
  font-family: 'Material Icons';
  ;
  font-size: 24px;
  color: #a8b4be;
}

.icon {
  height: 100px;
  width: 100px;
  padding: 15px 5px;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}

.box {
  flex-direction: column;
  align-self: flex-start;
  padding-top: 25px;
}

span.id {
  position: relative;
  border-radius: 5px;
  font-family: 'Epilogue', sans-serif;
  background-color: #1abc9c;
  color: #ffffff;
  padding: 5px;
}

.title {
  text-transform: capitalize;
  position: relative;
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  padding-top: 1px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}