<template>
  <div id="toast-container">
    <div v-for="(toast, id) in listAlerts" v-bind:key="id" 
    class="toast"
    v-bind:class="[{ 'out_effect': toast.out }]"
    style="top: 0px;">{{toast.text}}</div>
  </div>
</template>

<script src="./toast.js"></script>
<style src="./toast.css"></style>
