<template>
  <div class="abilities collection">
    <div class="collection-item transparent white-text" 
      v-for="(ability) in padNameAbility" 
      v-bind:key="ability.id" 
      v-on:click="searchAbility(ability.url)">
      {{ability.name}}
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'

export default {
  name: 'Abilities',
  props: {
    abilities: {
      type: Array
    }
  },
  methods: {
    ...mapMutations([
      "setStart",
      "setModal",
      "setTypeSearch"
    ]),
    ...mapActions([
      "search"
    ]),
    searchAbility(abilityUrl){
      this.setStart(0)
      this.setModal(false)
      this.setTypeSearch(abilityUrl)
      this.search()
    }
  },
  computed: {
    padNameAbility(){
      return this.abilities && this.abilities.map((ability, id)=>({
        id,
        name: ability.ability.name.replace(/[_-]/g, ' '),
        url: ability.ability.url
      }))
    }
  }
}
</script>

<style>
.abilities{
  max-height: 300px;
  overflow-y: auto;
  border: 0;
}

.abilities .collection-item{
  cursor: pointer;
  text-transform: capitalize;
}
</style>