<template>
  <div class="moves collection">
    <a href="#!" class="collection-item transparent white-text" 
      v-for="(move) in padNameMoves" 
      v-bind:key="move.id">
      {{move.name}}
    </a>
  </div>
</template>

<script>
export default {
  name: 'Moves',
  props: {
    moves: {
      type: Array
    }
  },
  computed: {
    padNameMoves(){
      return this.moves && this.moves.map((moves, id)=>({
        id,
        name: moves.move.name.replace(/[_-]/g, ' ')
      }))
    }
  },
}
</script>

<style>
.moves{
  max-height: 300px;
  overflow-y: auto;
  border: 0;
}

.moves .collection-item{
  text-transform: capitalize;
}
</style>