<template>
  <div class="sprites">

    <div v-for="(sprite) in padAllSprites" v-bind:key="sprite.name">
      <div class="card" v-bind:title="sprite.name" v-on:click="changeImg(sprite.url)">
        <div class="card-image">
          <img v-bind:src="sprite.url">
        </div>
        <span class="card-title">{{sprite.name}}</span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Sprites',
  props: {
    sprites: {
      type: Object
    }
  },
  methods: {
    returnString(obj, parent = ''){
      let objOut = {}

      for(let item in obj){
        if(obj[item]){
          if(typeof obj[item] == "string")
            objOut[parent + '_' +item] = obj[item]
          else
            objOut = {
              ...objOut,
              ...this.returnString(obj[item], item)
            }
        }
      }

      return objOut
    },
    changeImg(newUrl){
      let actualImg = document.querySelector('.circle img')
      
      actualImg.src = newUrl
    }
  },
  computed: {
    padSprites: function(){
      return Object.entries(this.sprites)
      .filter(sprite=>sprite[1] && typeof sprite[1] === "string")
      .map(sprite=>({
        url: sprite[1],
        name: sprite[0].replace(/_/g, ' ')
      }))
    },
    padAllSprites: function(){
      let obj = this.returnString(this.sprites)
      
      return Object.entries(obj)
      .filter(sprite=>sprite[1] && typeof sprite[1] === "string")
      .map(sprite=>({
        url: sprite[1],
        name: sprite[0].replace(/[_-]/g, ' ')
      }))
    },
  }
}
</script>

<style>
  .sprites{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .sprites div{
    flex-grow: 2;
    padding-bottom: 15px;
  }

  .sprites .card{
    margin-right: 10px;
    padding: 5px;
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sprites .card-image{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    align-self: center;
  }

  .card-image img{
    height: 100px;
  }

  .card-title{
    bottom: 2px;
    position: relative;
    color: #fff;
    text-transform: capitalize;
    align-self: center;
    width: 150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>