<template>
  <div class="stats">
    <div class="progress grey lighten-1" 
      v-for="(stat) in statsUpperCase" 
      v-bind:key="stat.id" 
      v-bind:title="stat.name + ': ' + stat.point">
      <label>{{stat.name}}</label>
      <div v-bind:class="stat.color" v-bind:style="stat.width"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Stats',
  props: {
    stats: {
      type: Array
    }
  },
  methods: {
    drawStatus(stats){
      let ref = {
        'hp': 'teal lighten-2',
        'attack': 'red lighten-2',
        'defense': 'blue lighten-1',
        'special-attack': 'yellow darken-2',
        'special-defense': 'purple lighten-3',
        'speed': 'orange darken-1',
      }

      return {
        width: 'width:' + stats.base_stat / 2 + '%',
        color: 'determinate ' + ref[stats.stat.name]
      }
    }
  },
  computed: {
    statsUpperCase(){
      return this.stats && this.stats.map((stat, id)=>({
        id,
        name: stat.stat.name.toUpperCase(),
        point: stat.base_stat,
        color: this.drawStatus(stat).color,
        width: this.drawStatus(stat).width,
      }))
    }
  }
}
</script>

<style>
  .progress{
    height: 20px;
    border-radius: 10px;
    padding-left: 15px;
  }

  .progress label {
    position: absolute;
    color: rgb(110, 110, 110);
    z-index: 1;
    font-weight: 100;
    font-size: 13px;
  }

  .stats{
    margin: 20px;
  }

  .determinate{
    border-radius: 15px;
  }
</style>