<template>
  <div class="types">
    <div class="chip" 
      v-for="(type) in padNameTypes" 
      v-bind:key="type.id"
      v-on:click="searchTypes(type.url)"
      v-bind:style="personColor(type.name)">
      {{type.name}}
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
export default {
  name: 'Types',
  props: {
    types: {
      type: Array
    }
  },
  data(){
    return {
        colors: {"normal": ['#808080', '#808080']
                ,"fighting": ['#bcbce0', '#808080']
                ,"flying": ['#5dafb3', '#4e829a']
                ,"poison": ['#5040a2', '#6385a2']
                ,"ground": ['#986f6f', '#754e37']
                ,"rock": ['#808080', '#4d5458']
                ,"bug": ['#9465bf', '#6d3f3f']
                ,"ghost": ['#ffffff', '#d2d2d2', '#000000']
                ,"steel": ['#377eda', '#2c5961']
                ,"fire": ['#9e4d4d', '#c19d5b']
                ,"water": ['#00adff', '#3352a8']
                ,"grass": ['#458245', '#68981d']
                ,"electric": ['#9c6e00', '#c1c10f']
                ,"psychic": ['#8b70db', '#7b417b']
                ,"ice": ['#a2a9b5', '#87b8d4']
                ,"dragon": ['red', 'darkred']
                ,"dark": ['#282828', '#3e3838']
                ,"fairy": ['#ffc0d4', '#713d46']
                ,"unknown": ['#193292', '#165990']
                ,"shadow": ['#504a4a', '#524c4c']}
        }
  },
  methods: {
    ...mapMutations([
      "setStart",
      "setModal",
      "setTypeSearch"
    ]),
    ...mapActions([
      "search"
    ]),
    personColor(ref){
      let pad = this.colors[ref]
      return `background: linear-gradient(${pad[0]}, ${pad[1]})${pad[2]? '; color: '+pad[2] : ''}`
    },

    searchTypes(typeUrl){
      this.setStart(0)
      this.setModal(false)
      this.setTypeSearch(typeUrl)
      this.search()
    }
  },
  computed: {
    padNameTypes(){
      return this.types && this.types.map((type, id)=>({
        id,
        name: type.type.name.replace(/[_-]/g, ' '),
        url: type.type.url
      }))
    }
  }
}
</script>

<style>
  .types>.chip {
    font-size: 22px;
    cursor: pointer;
    font-weight: 100;
  }
</style>