<template>
  <div class="modal-complete">
    <div id="modal-detail" class="modal transparent" v-bind:class="{'hide': !modalState}">
      <div class="sup" v-on:click="close">
        <i class="close material-icons red-text medium right">close</i>
      </div>

      <div class="sub">
        <div class="row">
          <div class="content-sprite circle content-sprite-front"
            v-on:mouseover="imgChangeOver()"
            v-on:mouseout="imgChangeOut()"></div>
          <div class="content-sprite circle col offset-s0">
            <div class="circle circle_sprite">
              <img v-bind:src="padSelectedPokemon.img"  
                v-bind:title="padSelectedPokemon.title"
                v-bind:alt="padSelectedPokemon.alt"
                class="sprite"
                v-bind:id="'pk_modal_'+padSelectedPokemon.id" 
                v-on:error="changeImgError()" >
            </div>
          </div>
          <div class="col s12 header-pokemon">
            <h3 class="name-pokemon white-text">{{padSelectedPokemon.name}}</h3>
            <Types v-bind:types="padSelectedPokemon.types" />
          </div>
        </div>

        <Tabs v-bind:pokemon="padSelectedPokemon" class="tab-pokemon" />
      </div>
    </div>

    <div class="modal-overlay" v-bind:class="{'hide': !modalState}" v-on:click="close"></div>
  </div>
</template>

<script src="./modal.js"></script>
<style src="./modal.css"></style>
