@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
#modal-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fcfcfc;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
}

.name-pokemon {
  text-transform: capitalize;
  position: relative;
  font-family: cursive;
  padding: 10px 15px;
}

.close {
  cursor: pointer;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sup {
  height: calc(50% - 280px);
  z-index: 2;
  position: relative;
  min-height: 200px;
}

@media only screen and (max-width: 600px) {
  .sup {
    height: calc(50% - 190px);
  }
  .circle_sprite,
  .content-sprite-front {
    width: 250px !important;
    height: 250px !important;
  }
  .sprite {
    width: 200px !important;
    height: 200px !important;
    margin: 25px !important;
  }
}

@keyframes girar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes girarReverse {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.sub {
  flex: 1;
  border-radius: 25px 25px 0px 0px;
  background: #536b7f;
  z-index: 3;
  position: relative;
}

.name-pokemon {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
}

.content-sprite {
  position: relative;
  top: -120px;
  text-align: -webkit-center;
}

.circle_sprite,
.content-sprite-front {
  width: 400px;
  height: 400px;
}

.content-sprite-front {
  position: absolute;
  z-index: 1;
}

.circle_sprite {
  background: #70c1b1;
  animation: girarReverse .5s;
  overflow: hidden;
}

.content-sprite-front:hover~.content-sprite>.circle_sprite,
.content-sprite-front:hover~.content-sprite .sprite {
  animation: girar .5s;
}

.sprite {
  max-width: 300px;
  max-height: 300px;
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius: 50px;
}

.sub .row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-overlay {
  z-index: 0;
  background: #0000009e;
  display: block;
}

.row .col.offset-s0 {
  margin-left: 0;
}

.tab-pokemon,
.header-pokemon {
  top: -100px;
  position: relative;
}