html {
  min-height: 100%;
}

body {
  background: #2c3e50;
}

.container {
  width: 90%;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

li[class*="--active"] {
  background-color: rgba(0, 0, 0, 0.1);
}

nav.blue {
  width: 500px;
  margin-left: calc(50% - 230px);
  text-align: -webkit-center;
}

ul.c-sliding-pagination__list {
  width: fit-content;
}

.chip {
  text-transform: capitalize;
  color: #fcfcfc;
}

.blur {
  filter: blur(3px);
}