<template>
  <div id="app" class="container">
    <div id="list" 
      v-bind:class="{'blur': modalState}">
      <Search/>
      <List/>

      <Pagination/>
    </div>

    <Modal/>
    <Toast/>
  </div>
</template>

<script src="./home.js"></script>
<style src="./home.css"></style>
