<template>
  <section>
    <img :src="image" alt="Jigglypuff singing">
    <h5 class="center white-text">Carregando ...</h5>
  </section>
</template>

<script>
import jigglypuff from "../../assets/img/jigglypuff.gif"
export default {
  name: 'Load',
  data: function () {
    return {
      image: jigglypuff
    }
  }
}
</script>

<style lang="css">
  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  section>img{
    width: 200px;
    align-self: center;
  }
</style>