.btn {
  height: 46px;
  padding-top: 5px !important;
}

.button {
  margin-left: 5px;
}

.typeSearch {
  padding-right: 5px;
}

.search{
  padding-left: 40px !important;
  margin-left: 15px !important;
  width: calc(100% - 65px) !important;
  background: #536b7f !important;
  border-radius: 15px !important;
  border: 0 !important;
  color: #9fa7af;
}

.search-icon{
  position: absolute;
  top: 40px;
  margin-left: 25px;
}

form::before{
  content: 'search';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  position: absolute;
  margin-left: 25px;
  margin-top: 10px;
  color: #9fa7af;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}