<template>
  <form class="row" v-on:submit="getSearch">
    <input type="text" placeholder="Pesquisar" v-model="keyword" class="search" value="">
  </form>
</template>

<script src="./search.js"></script>
<style src="./search.css"></style>
